@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1eded;
}

.main-header {
    border: 1px solid #484747;
    padding: 5px;
    background-color: #484747;
    opacity: 0.8;
}

.main-header .left {
    width: 49%;
    float: left;
    text-align: center;
}

.main-header .right {
    width: 49%;
    float: left;
    color: #fff;
    text-align: right;
    margin-top: 5px;
}

.main-header .left img {
    width: 150px;
}

.main-header .right .dropdown {
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.dropdown-menu {
    border: 1px solid #000;
    width: 170px;
    position: absolute;
    top: 38px;
    right: 0px;
    background-color: #807f7f;
    z-index: 3;
    display: none;
}

.dropdown-menu ul li {
    list-style: none;
    text-align: center;
}

.dropdown-menu ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    display: block;
    transition: color 0.5s;
}

.dropdown-menu ul li a:hover {
    color: #e68c8c;
}

.main-aside {
    width: 20%;
    float: left;
    border-top: 1px solid #565555;
    border-left: 1px solid #6c6b6b;
    border-bottom: 1px solid #6c6b6b;
    background-color: #6c6b6b;
}

.main-aside ul li {
    list-style: none;
    text-align: center;
}

.main-aside ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin: 20px 0px;
    transition: border-top 0.5s, border-bottom 0.5s, background-color 0.5s;
}

.main-aside ul li a:hover {
    border-bottom: 1px solid #383737;
    border-top: 1px solid #383737;
    background-color: #525252;
}

.main-section {
    width: 77.5%;
    padding: 10px;
    float: left;
    background-color: #f1eded;
}

.dashboard .left {
    width: 49.5%;
    float: left;
}

.dashboard .right {
    width: 50%;
    float: left;
}

.dashboard .left .contents,
.dashboard .right .contents {
    padding: 10px;
}

.dashboard .users,
.dashboard, .page-loads,
.dashboard .unique_visitors {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 25px;
}

.dashboard .users h1,
.dashboard, .page-loads h1,
.dashboard .unique_visitors h1 {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.dashboard .users .label,
.dashboard, .page-loads .contents {
    font-size: 20px;
    text-align: center;
}

.dashboard .users .candidates_percent,
.dashboard .users .employers_percent {
    margin-bottom: 10px;
}

.dashboard .users .candidates_percent .percent,
.dashboard .users .employers_percent .percent {
    text-align: center;
    border: 1px solid #567ef3;
    padding: 5px;
    background-color: #d3daf1;
    color: #fff;
}

.dashboard .users .candidates_percent .bar,
.dashboard .users .employers_percent .bar {
    padding: 10px 0px;
    background-color: #567ef3;
    width: 0%;
}

.dashboard .users .candidates_percent .number,
.dashboard .users .employers_percent .number {
    float: left;
    top: 20px;
    padding: 0;
    width: 100%;
}

.dashboard .users .total-all .percent {
    text-align: center;
    font-size: 20px;
}

.dashboard .jobposts-stats {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.dashboard .jobposts-stats h1 {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.dashboard .jobposts-stats .jobposts-total-active,
.dashboard .jobposts-stats .jobposts-total-inactive {
    margin-bottom: 10px;
}

.dashboard .jobposts-stats .label {
    font-size: 20px;
    text-align: center;
}

.dashboard .jobposts-stats .count {
    text-align: center;
    font-size: 20px;
}

.dashboard .unique_visitors {
    margin-top: 30px;
}

.admin-users-nav {
    text-align: center;
    border: 1px solid #ccc;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
}

.admin-users-nav ul li {
    display: inline-block;
    margin: 0 2%;
}

.admin-users-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #5d5a5a;
}

.admin-jobpost-view {
    border: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 10;
    overflow-y: auto;
}

.jobposts {
    color: #5d5a5a;
}

.jobposts .jobposts-search-form {
    text-align: center;
    padding: 14px;
}

.jobposts .jobposts-search-form label {
    display: block;
    font-weight: bold;
}

.jobposts .jobposts-search-form [type=text] {
    padding: 5px 8px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jobposts .jobposts-search-form [type=submit] {
    padding: 10px;
    border: 1px solid #107dcc;
    background-color: #107dcc;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.jobposts .jobposts-search-form [type=submit]:hover {
    color: yellow;
}

.jobposts .jobposts-search-form [type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.jobposts .result-count,
.jobposts .no-result {
    text-align: center;
    margin-bottom: 20px;
}

.jobposts-list li {
    list-style: none;
    margin-bottom: 30px;
}

.jobposts .left {
    width: 25%;
    float: left;
}

.jobposts .right {
    width: 70%;
    float: left;
}


.jobposts .jobpost {
    border: 1px solid #ccc;
    padding: 15px 10px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}

.jobposts .left img {
    width: 100%;
}

.jobposts .jobpost .post-header {
    padding: 5px 10px;
    font-size: 13px;
    text-decoration: underline;
}

.jobposts .jobpost .post-header a {
    color: #5d5a5a;
}

.jobposts .jobpost .post-company-name {
    padding: 5px 10px;
    font-size: 14px;
}

.jobposts .jobpost .post-company-name a {
    color: #5d5a5a;
    text-decoration: none;
}

.jobposts .jobpost .post-description {
    padding: 5px 10px;
    font-size: 14px;
}

.jobposts .jobpost .post-author {
    padding: 0px 10px;
    font-size: 15px;
    margin-top: 10px;
}

.jobposts .jobpost .post-date {
    padding: 5px 10px;
    font-size: 15px;
}

.admin-jobpostview {
    margin-top: 38px;
    padding: 10px;
    color: #5d5a5a;
}

.admin-jobposts-notify-user,
.admin-jobposts-notify-delete,
.admin-user-edit-notify,
.admin-user-profile-notify,
.admin-user-del-notify,
.admin-suspend-del-notify,
.admin-changerole-notify {
   position: fixed;
   width: 100%;
   top: 25%;
   z-index: 25;
   color: #5d5a5a;
   display: none;
}

.admin-jobposts-notify-user .contents,
.admin-jobposts-notify-delete .contents,
.admin-user-edit-notify .contents,
.admin-user-profile-notify .contents,
.admin-user-del-notify .contents,
.admin-suspend-del-notify .contents,
.admin-changerole-notify .contents {
    border: 1px solid #ccc;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
}

.admin-user-del-notify .contents {
    margin-left: 14%;
}

.admin-suspend-del-notify .contents {
    margin-left: 10%;
}

.admin-jobposts-notify-user .contents h1,
.admin-jobposts-notify-delete .contents h1,
.admin-user-edit-notify .contents h1,
.admin-user-profile-notify .contents h1,
.admin-user-del-notify .contents h1,
.admin-suspend-del-notify .contents h1,
.admin-changerole-notify .contents h1 {
    text-align: center;
    padding: 10px;
}

.admin-jobposts-notify-user .contents field textarea,
.admin-jobposts-notify-delete .contents field textarea,
.admin-user-edit-notify .contents field textarea,
.admin-user-profile-notify .contents field textarea,
.admin-user-del-notify .contents field textarea,
.admin-suspend-del-notify .contents field textarea,
.admin-changerole-notify .contents field textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
}

.admin-jobposts-notify-user .contents .notify-btns,
.admin-jobposts-notify-delete .contents .notify-btns,
.admin-user-edit-notify .contents .notify-btns,
.admin-user-profile-notify .contents .notify-btns,
.admin-user-del-notify .contents .notify-btns,
.admin-suspend-del-notify .contents .notify-btns,
.admin-changerole-notify .contents .notify-btns {
    text-align: center;
    padding: 5px;
}

.admin-jobposts-notify-user .contents .notify-btns ul li,
.admin-jobposts-notify-delete .contents .notify-btns ul li,
.admin-user-edit-notify .contents .notify-btns ul li,
.admin-user-profile-notify .contents .notify-btns ul li,
.admin-user-del-notify .contents .notify-btns ul li,
.admin-suspend-del-notify .contents .notify-btns ul li,
.admin-changerole-notify .contents .notify-btns ul li {
    display: inline-block;
}

.admin-jobposts-notify-user .contents .notify-btns ul li button,
.admin-jobposts-notify-delete .contents .notify-btns ul li button,
.admin-user-edit-notify .contents .notify-btns ul li button,
.admin-user-profile-notify .contents .notify-btns ul li button,
.admin-user-del-notify .contents .notify-btns ul li button,
.admin-suspend-del-notify .contents .notify-btns ul li button,
.admin-changerole-notify .contents .notify-btns ul li button {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: color 1s;
    outline: none;
}

.admin-jobposts-notify-user .contents .notify-btns ul li button:hover,
.admin-jobposts-notify-delete .contents .notify-btns ul li button:hover,
.admin-user-edit-notify .contents .notify-btns ul li button:hover,
.admin-user-profile-notify .contents .notify-btns ul li button:hover,
.admin-user-del-notify .contents .notify-btns ul li button:hover,
.admin-suspend-del-notify .contents .notify-btns ul li buttons:hover,
.admin-changerole-notify .contents .notify-btns ul li button:hover {
    color: yellow;
}

.admin-jobposts-notify-user .contents .notify-btns ul li button:active,
.admin-jobposts-notify-delete .contents .notify-btns ul li button:active,
.admin-user-edit-notify .contents .notify-btns ul li button:active,
.admin-user-profile-notify .contents .notify-btns ul li button:active,
.admin-user-del-notify .contents .notify-btns ul li button:active,
.admin-suspend-del-notify .contents .notify-btns ul li buttons:active,
.admin-changerole-notify .contents .notify-btns ul li button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-jobopostview-btn {
    width: 97.5%;
    margin: 0 auto;
    text-align: right;
    padding: 10px;
    margin-top: 10px;
}

.admin-jobopostview-btn span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    transition: color 1s;
}

.admin-jobopostview-btn span:hover {
    color: yellow
}

.admin-jobopostview-btn span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-jobpostview .em-jobpost-main-header {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.admin-jobpostview .em-jobpost-main-header .header-logo .header {
    width: 98%;
    margin: 0 auto;
}

.admin-jobpostview .em-jobpost-main-header .header-logo .header img {
    width: 100%;
}

.admin-jobpostview .em-jobpost-main-header .header-logo .logo {
    width: 230px;
    margin: 0 auto;
    position: relative;
    margin-top: -60px;
}

.admin-jobpostview .em-jobpost-main-header .header-logo .logo img {
    width: 100%;
}

.admin-jobpostview .em-jobpost-main-header h1 {
    text-align: center;
    margin: 20px 0px;
    font-size: 30px; 
}

.admin-jobpostview .em-jobpost-main-header h4 {
    text-align: center;
    font-weight: lighter;
}

.admin-jobpostview .contents {
    margin-top: 20px;
}

.admin-jobpostview .em-jobpost-main-header h4 {
    text-align: center;
    font-weight: lighter;
}

.admin-jobpostview .contents .left {
    width: 49.5%;
    float: left;
}

.admin-jobpostview .contents .right {
    width: 49.5%;
    float: left;
}

.admin-jobpostview .contents h2 {
    font-size: 16px;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.admin-jobpostview .contents .description,
.admin-jobpostview .contents .location,
.admin-jobpostview .contents .qualifications,
.admin-jobpostview .contents .responsibilities,
.admin-jobpostview .contents .contact-info,
.admin-jobpostview .contents .job-details,
.admin-jobpostview .contents .website,
.admin-jobpostview .contents .url-container,
.admin-jobpostview .contents .options,
.admin-jobpostview .contents .googlemap {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 10px;
    word-break: break-all;
}

.admin-jobpostview .contents .description h2:first-child,
.admin-jobpostview .contents .job-details h2:first-child,
.admin-jobpostview .contents .contact-info h2:first-child,
.admin-jobpostview .contents .location h2:first-child,
.admin-jobpostview .contents .qualifications h2:first-child,
.admin-jobpostview .contents .responsibilities h2:first-child,
.admin-jobpostview .contents .website h2:first-child {
    border-bottom: 1px solid #ccc;
}

.admin-jobpostview .contents .description h2 {
    border: none;
}

.admin-jobpostview .contents .description p {
    margin: 10px 0px;
}

.admin-jobpostview .contents .description ol li,
.admin-jobpostview .contents .description ul li {
    margin: 10px 0px;
}

.admin-jobpostview .contents .description ol li,
.admin-jobpostview .contents .description ul li {
    margin-left: 40px;
}

.admin-jobpostview .contents .location .country {
    margin-top: 10px
}

.admin-jobpostview .contents .googlemap iframe {
    width: 100%;
}

.admin-jobpostview .contents .qualifications ul li,
.admin-jobpostview .contents .responsibilities ul li {
    margin: 5px 30px;
    font-size: 14px;
}

.admin-jobpostview .contents .contact-info table tr td:first-child {
    width: 110px;
    text-align: right;
    font-size: 14px;
    padding: 0px 5px;
}

.admin-jobpostview .contents .job-details table tr td:first-child {
    width: 130px;
    text-align: right;
    font-size: 14px;
    padding: 0px 5px;
}

.admin-jobpostview .location {
    font-size: 14px;
}

.admin-jobpostview .contents .website a {
    color: #000;
    text-decoration: none;
}

.admin-jobpostview .contents .website a:hover {
    text-decoration: underline;
}

.admin-jobpostview .contents .options ul {
    text-align: center;
}

.admin-jobpostview .contents .options ul li {
    display: block;
    margin: 15px 0;
}

.admin-jobpostview .contents .url-container a {
    color: #5d5a5a;
}

.admin-jobpostview .contents .url-container a:hover {
    color: red;
}

.admin-jobpostview .contents .options ul li div {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color 1s;
    margin: 0 auto;
    width: 60%;
}

.admin-jobpostview .contents .options ul li div:hover {
    color: yellow;
}

.admin-jobpostview .contents .options ul li div:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-jobpost-edit {
    padding: 10px;
}

.admin-jobpost-edit .post-jobs-form .postjobs-headers {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

.admin-jobpost-edit .post-jobs-form .header-upload {
    margin-top: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
}

.admin-jobpost-edit .post-jobs-form .header-upload label  {
    padding: 10px;
    text-align: center;
    height: 200px;
    line-height: 200px;
    display: block;
    cursor: pointer;
    transition: color 1s, border 1s, background-color 1s;
}

.admin-jobpost-edit .post-jobs-form .header-upload label:hover {
    color: red;
    border: 1px solid #e6e6fd;
    background-color: #e6e6f7;
}

.admin-jobpost-edit .post-jobs-form .header-upload .loading {
    height: 200px;
    text-align: center;
    line-height: 200px;
    display: none;
}

.admin-jobpost-edit .post-jobs-form .header-btn-cancel-container {
    position: absolute;
    right: 30px;
    top: 45px;
    display: none;
}

.admin-jobpost-edit .post-jobs-form .header-btn-cancel-container span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color 1s;
}

.admin-jobpost-edit .post-jobs-form .header-btn-cancel-container {
    margin-top: 50px;
}

.admin-jobpost-edit .post-jobs-form .header-btn-cancel-container span:hover {
    color: yellow;
}

.admin-jobpost-edit .post-jobs-form .header-btn-cancel-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-joboist-edit-btn {
    width: 96%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    text-align: right;
}

.admin-joboist-edit-btn span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color 1s;
}

.admin-joboist-edit-btn span:hover  {
    color: yellow;
}

.admin-joboist-edit-btn span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-jobpost-edit .post-jobs-form .header-upload [type=file] {
    position: absolute;
    visibility: hidden;
}

.admin-jobpost-edit .post-jobs-form .header-upload .header-img-container img {
    width: 100%;
}

.admin-jobpost-edit .post-jobs-form .the_logo {
    position: relative;
    z-index: 5;
    top: -60px;
}

.admin-jobpost-edit .post-jobs-form .company-logo-container [type=file] {
    position: absolute;
    visibility: hidden;
}

.admin-jobpost-edit .post-jobs-form .company-logo-container .logo-img-container {
    width: 230px;
    margin: 0 auto;
}

.admin-jobpost-edit .post-jobs-form .company-logo-container .logo-img-container img {
    width: 100%;
}

.admin-jobpost-edit .post-jobs-form .company-logo-container .loading {
    border: 1px solid #ccc;
    width: 230px;
    height: 150px;
    line-height: 180px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    display: none;
}

.admin-jobpost-edit .post-jobs-form .company-logo-container label {
    border: 1px solid #ccc;
    width: 230px;
    height: 150px;
    display: block;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
    transition: color 1s, background-color 1s, border 1s;
    margin: 0 auto;
    background-color: #fff;
}

.admin-jobpost-edit .post-jobs-form .logo-progress-container {
    display: none;
    width: 230px;
}

.admin-jobpost-edit .post-jobs-form .logo-progress-container .logo-progress {
    width: 100%;
}

.admin-jobpost-edit .post-jobs-form .company-logo-container label:hover {
    color: red;
    border: 1px solid #e6e6fd;
    background-color: #e6e6f7;
}

.admin-jobpost-edit .post-jobs-form .logo-cancel-container {
    padding: 10px 0px;
    text-align: center;
    display: none;
}

.admin-jobpost-edit .post-jobs-form .logo-cancel-container span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color 1s;
}

.users-candidates .black-screen {
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 0px;
    border: 1px solid #000;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    overflow-y: none;
    display: none;
}

.admin-jobpost-edit .post-jobs-form .logo-cancel-container span:hover {
    color: yellow;
}

.admin-jobpost-edit .post-jobs-form .logo-cancel-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-jobpost-edit .post-jobs-form .flash-error-logo {
    text-align: center;
}

.admin-jobpost-edit .post-jobs-form .inputs {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
}

.admin-jobpost-edit .post-jobs-form .inputs .input {
    margin-bottom: 10px;
}

.admin-jobpost-edit .post-jobs-form .postjob-error {
    font-size: 14px;
    padding: 3px 0px;
}

.admin-dashboard .post-job-form .inputs .input {
    margin-bottom: 20px;
}

.admin-dashboard .post-job-form .inputs .input:nth-child(14) {
    margin-top: 20px;
}

.admin-jobpost-edit .post-jobs-form .inputs label {
    display: block;
    margin-bottom: 3px;
}

.admin-jobpost-edit .post-jobs-form .inputs [type=text],
.admin-jobpost-edit .post-jobs-form .inputs [type=email] {
    padding: 0px;
    border: 0;
    border-bottom: 2px solid #ccc;
    width: 95.5%;
    outline: none;
    color: #5d5a5a;
}

.admin-jobpost-edit .post-jobs-form .inputs select {
    padding: 10px 0px;
    width: 95.5%;
    outline: none;
    border: 0;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    color: #5d5a5a;
}

.admin-jobpost-edit .post-jobs-form .inputs textarea {
    padding: 0px;
    width: 95.5%;
    height: 20px;
    outline: none;
    color: #5d5a5a;
}

.admin-jobpost-edit-jobpost-edit .post-jobs-form .inputs h3 {
    margin: 5px 0px;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px; 
    margin-bottom: 50px;
    color: #5d5a5a;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications [type=text],
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities [type=text] {
    margin-bottom: 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .qlf-del-btn-container,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .res-del-btn-container {
    margin-bottom: 20px;
    margin-right: 2%;
    padding: 5px 0px;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .qlf-del-btn-container,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .res-del-btn-container {
    margin-bottom: 20px;
    margin-right: 2%;
    padding: 5px 0px;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .qlf-empty,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .res-empty {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.admin-jobpost-edit .post-jobs-form .ck-container {
    margin-bottom: 40px;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .qlf-del-btn-container span,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .res-del-btn-container span {
    font-weight: bold;
    font-size: 14px;
    color: #3c3b3b;
    cursor: pointer;
    color: #5d5a5a;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .btn-container,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .btn-container {
    text-align: center;
    margin: 10px 0px;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .btn-container span,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .btn-container span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color 1s;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .btn-container span:hover,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .btn-container span:hover {
    color: yellow;
}

.admin-jobpost-edit .post-jobs-form .inputs .qualifications .btn-container span:active,
.admin-jobpost-edit .post-jobs-form .inputs .responsibilities .btn-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.admin-jobpost-edit .post-jobs-form .inputs .years-exps .years-exp-start,
.admin-jobpost-edit .post-jobs-form .inputs .years-exps .years-exp-end {
    width: 30%;
}

.admin-jobpost-edit .post-jobs-form .inputs .job-location {
    height: 20px;
    border: 0;
    border-bottom: 2px solid #ccc;
}

.admin-jobpost-edit .post-jobs-form .google_map_container {
    text-align: center;
}

.admin-jobpost-edit .post-jobs-form .google_map_container #map {
    border: 1px solid #ccc;
    height: 150px;
}

.admin-jobpost-edit .post-jobs-form .google_map_container #map iframe {
    width: 100%;
}

.admin-jobpost-edit .post-jobs-form .inputs .submit-btns {
    text-align: center;
}

.admin-jobpost-edit .post-jobs-form .inputs .submit-btns button {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: color 1s;
    margin: 0 1%;
}

.admin-jobpost-edit .post-jobs-form .inputs .submit-btns button:hover {
    color: yellow;
}

.admin-jobpost-edit .post-jobs-form .inputs .submit-btns button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.users-candidates .suspend-window {
    border: 2px solid #ccc;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    z-index: 20;
    top: 10%;
    left: 19%;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    display: none;
}

.users-candidates .user-search {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.users-candidates .user-search-flash {
    color: red;
    font-size: 15px;
}

.users-candidates .user-search [type=text] {
    width: 60%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.users-candidates .user-search [type=button] {
    padding: 4px;
}

.candidates-list table {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    color: #5d5a5a;
}

.candidates-list table th {
    border: 1px solid #484646;
    background-color: #484646;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.candidates-list table td {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 13px;
}

.candidates-list table tbody td:nth-child(1) {
    padding: 0;
}

.candidates-list table tbody td:nth-child(1) img {
    width: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.candidates-list table td span {
    cursor: pointer;
}

.candidates-list table td span:hover {
    text-decoration: underline;
}

.users-candidates .loading {
    text-align: center;
    margin-top: 20px;
    display: none;
}

.users-candidates .loading img {
    width: 30px;
}

.users-candidates .paginator {
    margin-top: 20px;
    text-align: center;
    display: none;
}

.users-candidates .paginator #prev,
.users-candidates .paginator, #next {
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #383737;
    border-top: 1px solid #383737;
    background-color: #525252;
}

.users-nav-selected {
    border-bottom: 2px solid #ccc;
}

.users-candidates .user-view {
    border: 1px solid #ccc;
    background-color: #f1eded;
    width: 99.8%;
    position: fixed;
    top: -100%;
    left: 0;
    overflow-y: auto;
}

.user-pic {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}

.user-pic img {
    width: 100%;
}

.user-info {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-top: -90px;
    margin-bottom: 20px;
}

.user-info table {
    margin-top: 100px;
    width: 100%;
}

.user-info table tr td {
    padding: 10px 5px;
}

.user-info table tr td:first-child {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    width: 50%;
}

.user-info table tr td ul {
    margin-left: 30px;
}

.user-info table .resume-row img {
    width: 30px;
}

.user-info table .resume-row a:nth-child(2) {
    position: relative;
    top: -10px;
    color: #5d5a5a;
}

.user-info .btns {
    text-align: center;
    margin-top: 20px;
}

.user-info .btns ul li {
    display: inline-block;
}

.user-info .btns ul li span {
    display: block;
    width: 130px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: color 1s;
}

.user-info .btns ul li span:hover {
    color: yellow;
}

.user-info .btns ul li span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-edit {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto;
    width: 90%;  
    background-color: #fff;
}

.user-edit .input {
    margin: 10px 0px;
}

.user-edit .input label {
    display: block;
    margin-bottom: 2px;
}

.user-edit .input .text-input,
.user-edit .input .password-input {
    width: 98%;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.user-edit .input .select-input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 20%;
    outline: none;
}

.user-edit .input .textarea-input {
    width: 98%;
    border: 0;
    border-bottom: 2px solid #ccc;
    height: 20px;
    outline: none;
}

.user-edit .input .flash {
    color: red;
    font-size: 14px;
}

.user-edit .input .password-toggle {
    border: 1px solid #ccc;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    display: none;
}

.user-edit .input .password-toggle h3 {
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.user-edit .input .password-toggle .password-input {
   margin-bottom: 10px;
}

.user-edit .input .password-btn {
    margin-top: 20px;
    text-align: center;
}

.user-edit .input .password-btn span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: color 1s;
}

.user-edit .btns {
    margin-top: 20px;
    text-align: center;
}

.user-edit .btns ul li {
    display: inline-block;
}

.user-edit .btns ul li span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: color 1s;
}

.user-edit .btns ul li span:hover,
.user-edit .input .password-btn:hover {
    color: yellow;
}

.user-edit .btns ul li span:active,
.user-edit .input .password-btn:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-edit .user-edit-success {
    text-align: center;
    margin-top: 20px;
    color: green;
}

.user-edit-profile {
    margin-bottom: 20px;
}

.user-edit-profile .profile-pic {
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.user-edit-profile .profile-pic .image {
    border: 1px solid #ccc;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.user-edit-profile .profile-pic .image img {
    width: 100%;
}

.user-edit-profile .profile-pic .btns {
    text-align: center;
}

.user-edit-profile .profile-pic .btns ul li {
    display: block;
    margin: 12px 0;
}

.user-edit-profile .profile-pic .btns ul li span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-edit-profile .profile-pic .btns ul li span:hover {
    color: yellow;
}

.user-edit-profile .profile-pic .btns ul li span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-edit-profile .form {
    border: 1px solid #ccc;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-top: -200px;
}

.user-edit-profile .form .input {
    margin-bottom: 10px;
}

.user-edit-profile .form .input:first-child {
    margin-top: 220px;
}

.user-edit-profile .form label {
    display: block;
    margin-bottom: 2px;
}

.user-edit-profile .form .text-input {
    border: 0;
    border-bottom: 2px solid #ccc;
    width: 98%;
    outline: none;
}

.user-edit-profile .form .input select {
    border: 2px solid #ccc;
    padding: 10px;
    width: 15%;
    outline: none;
}

.user-edit-profile .form .input .textarea-input {
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: none;
    height: 20px;
    width: 98.5%;
}

.user-edit-profile .form .input .skills [type=text] {
    padding: 5px;
    width: 99%;
    margin-top: 10px;
}

.user-edit-profile .form .input .skills .skills_contents {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
}

.user-edit-profile .form .input .skills .skill-del-btn-container span {
    cursor: pointer;
}

.user-edit-profile .form .input .skills .btn-container {
    margin-top: 20px;
    text-align: center;
}

.user-edit-profile .form .input .skills .btn-container span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-edit-profile .form .input .skills .btn-container span:hover {
    color: yellow;
}

.user-edit-profile .form .input .skills .btn-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.salary {
    margin-top: 20px;
}

.salary h3 {
    padding: 10px 0px;
}

.salary .container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.salary .container ul li {
    display: inline-block;
    width: 35%;
    margin: 0 2%;
}

.salary .container ul li:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.salary .container ul li [type=checkbox] {
    visibility: hidden;
    position: absolute;
}

.salary .container ul li label {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
}

.salary .container ul li [type=checkbox]:checked ~ label {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    color: #fff;
}

.education ul {
    margin-top: 15px;
}

.education ul li {
    list-style: none;
    margin-bottom: 20px;
    margin-left: 50px;
}

.education ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    z-index: 9;
    cursor: pointer;
    padding-left: 30px;
    margin-left: -30px;
    transition: all 0.25s linear;
}

.education ul li [type=radio] {
    position: absolute;
    visibility: hidden;
}

.education ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #5d5a5a;
    border-radius: 100%;
    height: 11px;
    width: 11px;
    z-index: 5;
    transition: border .25s linear;
    transition: border .25s linear;
    margin-left: -25px;
    margin-top: -20px;
}

.education ul li:hover .check {
    border: 5px solid #5d5a5a;
}

.education ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    margin-left: 2px;
    margin-top: 2px;
    transition: background 0.25s linear;
    transition: background 0.25s linear;
}

.education ul li input[type=radio]:checked ~ .check {
    border: 5px solid #ff4338;
}

.education ul li input[type=radio]:checked ~ .check::before {
    background: #ff4338;
}

.user-edit-profile .form .subscribe {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    width: 225px;
}

.user-edit-profile .subscribe [type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.user-edit-profile .subscribe label {
    position: relative;
    z-index: 2;
}

.user-edit-profile .subscribe .check {
    border: 2px solid #5d5a5a;
    padding: 8px;
    width: 0px;
    border-radius: 5px;
    float: left;
    margin-top: -20px;
    position: absolute;
    z-index: 0;
    font-size: 18px;
}

.user-edit-profile .subscribe input[type=checkbox]:checked ~ .check::after {
    content: "✓";
    position: absolute;
    margin-top: -13px;
    margin-left: -6px;
    font-weight: bold;
}

.user-edit-profile .btn {
    margin-top: 20px;
    text-align: center;
}

.user-edit-profile .btn ul li {
    display: inline-block;
    margin: 0 1%;
}

.user-edit-profile .btn ul li span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-edit-profile .btn ul li span:hover {
    color: yellow;
}

.user-edit-profile .btn ul li span:active {
    position: relative;
    top: 1px;
    left: 1px;
}


.user-edit-profile .form .flash {
    text-align: center;
    margin-top: 20px;
    color: green;
}

.user-upload-pic {
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    height: 100%;
}

.user-upload-pic .profile-upload-form {
    width: 95%;
    margin: 0 auto;
}

.user-upload-pic h1 {
    padding: 20px;
    text-align: center;
}

.user-upload-pic .profile-upload-form  ul {
    margin-left: 4%;
    margin-top: 20px;
}

.user-upload-pic .btn-container {
    margin-top: 20px;
    text-align: center;
}

.user-upload-pic .btn-container span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-upload-pic .btn-container span:hover {
    color: yellow;
}

.user-upload-pic .btn-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-image-crop {
    background-color: #fff;
    position: relative;
    height: 100%;
}

.user-image-crop h1 {
    padding: 10px;
    text-align: center;
}

.user-image-crop .image {
    width: 95%;
    margin: 0 auto;
    height: 500px;
}

.user-image-crop .btn-crop {
    margin-top: 20px;
    text-align: center;
}

.user-image-crop .btn-crop button {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-image-crop .btn-crop button:hover {
    color: yellow;
}

.user-image-crop .btn-crop button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-role .profile-pic {
    border: 1px solid #ccc;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.user-role .profile-pic img {
    width: 100%;
}

.user-role .content {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -90px;
    padding-top: 100px;
}

.user-role .content .fullname {
    font-size: 30px;
    text-align: center;
}

.user-role .content .changerole {
    margin-top: 20px;
    text-align: center;
}

.user-role .content .changerole .select-input {
    border: 2px solid #ccc;
    padding: 10px;
    width: 15%;
    font-size: 18px;
}

.user-role .content .user-role-loading {
    text-align: center;
    margin-top: 20px;
    display: none;
}

.user-role .content .user-role-loading img {
    width: 30px
}

.user-role .content .btn {
    margin-top: 20px;
    text-align: center;
}

.user-role .content .btn ul li {
    display: inline-block;
}

.user-role .content .btn ul li span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-role .content .btn ul li span:hover {
    color: yellow;
}

.user-role .content .btn ul li span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-suspend .profile-pic {
    border: 1px solid #ccc;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.user-suspend .profile-pic img {
    width: 100%;
}

.user-suspend .form {
    padding: 10px;
    padding-top: 80px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    top: -60px;
    width: 90%;
    margin: 0 auto;;
}

.user-suspend .form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-suspend .form .btn {
    text-align: center;
}

.user-suspend .form .btn ul li {
    display: inline-block;
}

.user-suspend .form .btn ul li span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-suspend .form .btn ul li span:hover {
    color: yellow;
}

.user-suspend .form .btn ul li span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.user-suspend-form {
    padding: 10px;
}

.user-suspend-form h1 {
    text-align: center;
}

.user-suspend-form .input {
    margin: 60px 0px;
}

.user-suspend-form .input label {
    display: block;
}

.user-suspend-form .input [type=text] {
    padding: 5px;
    width: 98.5%;
}

.user-suspend-form .btn {
    text-align: center;
    margin-top: 190px;
}

.user-suspend-form .btn ul li {
    display: inline-block;
}

.user-suspend-form .btn ul li span {
    display: block;
    width: 160px;
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.user-suspend-form .btn ul li span:hover {
    color: yellow;   
}

.user-suspend-form .btn ul li span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.announcements {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

.announcements .create-btn {
    text-align: center;
    margin: 20px 0;
}

.announcements .create-btn a {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: color 1s;
}

.announcements .create-btn a:hover {
    color: yellow;
}

.announcements .create-btn a:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.announcements .list table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.announcements .list table th,
.announcements .list table td {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
}

.announcements .list table th a,
.announcements .list table td a {
    color: #000;
    text-decoration: none;
}

.announcements .ann-loading {
    padding: 10px;
    text-align: center;
}

.create-announcement,
.edit-announcement {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.create-announcement h1,
.edit-announcement h1 {
    text-align: center;
    padding: 10px;
}

.create-announcement label {
    display: none;
}

.create-announcement .btn,
.edit-announcement .btn {
    text-align: center;
    padding: 10px;
}

.edit-announcement .publish-btn {
    text-align: center;
    margin: 10px;
}

.create-announcement .btn button,
.edit-announcement .btn button {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.create-announcement .btn button:hover,
.edit-announcement .btn button:hover {
    color: yellow;
}

.create-announcement .btn button:active,
.edit-announcement .btn button:active {
    position: relative;
    top: 1px;
    left: 1px;
}



.jobposts-nav {
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    width: 80%;
}

.jobposts-nav ul li {
    display: inline-block;
}

.jobposts-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.jobposts-nav-active {
    border-bottom: 3px solid #000;
}

.ip-log-blackscreen {
    border: 1px solid #000;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.ip-log-view {
    position: fixed;
    top: 1px;
    left: 0px;
    width: 99.8%;
    top: 10%;
    display: none;
}

.ip-log-view .ip-log-content {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    height: 500px;
    overflow-y: auto;
}

.ip-log-view .ip-log-content .loading {
    text-align: center;
    position: relative;
    top: 45%;
}

.ip-details ul {
    margin-bottom: 40px;
    margin-top: 10px;
}

.ip-details ul li {
    list-style: none;
    margin-bottom: 10px;
}

.ip-details h4 {
    font-size: 20px;
}

.ip-details #map {
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}

.ip-details .btn {
    text-align: center;
    margin: 30px 0;
}

.ip-details .btn span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.ip-details .btn span:hover {
    color: yellow;
}

.ip-details .btn span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.logs {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

.logs .log-types-container {
    text-align: center;
    padding: 10px;
}

.logs .log-types-container select {
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;
}

.logs .log-types-container #clear {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
    width: 150px;
    margin-top: 20px;
}

.logs .log-types-container #clear:hover {
    color: yellow;
}

.logs .log-types-container #clear:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.logs .contents {
    margin-top: 15px;
}

.logs .contents table {
    width: 100%;
    border: 1px solid #ccc;
}

.logs .contents table th,
.logs .contents table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.logs .contents table td {
    font-size: 13px;
}

.logs .contents table .loading {
    text-align: center;
    padding: 5px;
}

.logs .more-btn {
    text-align: center;
    margin: 20px 0;
    display: none;
}

.logs .more-btn img {
    display: none;
}

.logs .more-btn span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
}

.logs .more-btn span:hover {
    color: yellow;
}

.logs .more-btn span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.visitors-statistics {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
}

.visitors-statistics table {
    width: 100%;
}

.visitors-statistics table th,
.visitors-statistics table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.visitors-statistics table td a {
    color: #000;
}

.visitors-statistics table .loading {
    padding: 10px;
    text-align: center;
}

.mailinglist-nav {
    width: 50%;
}

.mailinglist_blackscreen {
    border: 1px solid #000;
    background-color: #000;
    position: fixed;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.mailinglist_flash {
    border: 2px solid #ccc;
    background-color: #fff;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    padding: 10px;
    height: 100px;
    text-align: center;
    line-height: 125px;
    font-size: 18px;
    display: none;
}

.mailinglist {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

.mailinglist table {
    width: 100%;
    border: 1px solid #ccc;
}

.mailinglist table th,
.mailinglist table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.mailinglist table td {
    font-size: 14px;
    text-align: center;
}

.mailinglist table td a {
    text-decoration: none;
    color: #000;
    transition: color 1s;
}

.mailinglist table td a:hover {
    color: yellow;
}

.mailinglist .btn-container {
    margin: 20px 0;
    text-align: center;
}

.mailinglist .btn-container .loading {
    display: none;
}

.mailinglist .btn-container span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
    width: 150px;
}

.mailinglist .btn-container span:hover {
    color: yellow;
}

.mailinglist .btn-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.mailinglist-create {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

.mailinglist-create .subject-container #subject {
    padding: 5px;
    width: 98.5%;
}
.mailinglist-create .editor {
    margin-top: 20px;
}

.mailinglist-create .btn-container {
    text-align: center;
    margin: 20px 0;
}

.mailinglist-create .btn-container ul li {
    display: inline-block;
}

.mailinglist-create .btn-container [type=button] {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    transition: color 1s;
    width: 150px;
    outline: none;
}

.mailinglist-create .btn-container [type=button]:hover {
    color: yellow;
}

.mailinglist-create .btn-container [type=button]:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.subscribers {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.subscribers .list ul li {
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid #ef0303;
    background-color: #ef0303;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}




/*Pagination*/
.jobposts .pagination {
    text-align: center;
    margin-bottom: 10px;
}

.jobposts .pagination li {
    display: inline-block;
    margin: 0 0.5%;
}

.jobposts .pagination li a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #6c6b6b;
    background-color: #6c6b6b;
    color: #fff;
    text-decoration: none;
    transition: border 1s, background-color 1s, color 1s;
}

.jobposts .pagination li a:hover {
    color: yellow;
    font-weight: bold;
    border: 1px solid #ff4338 !important;
    background-color: #ff4338 !important;
}

.jobposts .pagination li.active a {
    color: yellow;
}

.myaccount {
    border: 1px solid #cccc;
    padding: 10px;
    background-color: #fff;
    margin-top: 30px;
}

.myaccount .flash-success {
    text-align: center;
    margin-bottom: 30px;
}

.myaccount table {
    width: 100%;
}

.myaccount table td {
    padding: 5px;
}

.myaccount table td:first-child {
    width: 40%;
    text-align: right;
}

.myaccount .btn-container {
    margin: 20px 0;
    text-align: center;
}

.myaccount .btn-container span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    transition: color 1s;
}

.myaccount .btn-container span:hover {
    color: yellow;
}

.myaccount .btn-container span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.editmyaccount {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-top: 30px;
}

.editmyaccount form .input {
    margin-bottom: 5px;
}

.editmyaccount form .input label {
    display: block;
}

.editmyaccount form .input .text-input {
    width: 98%;
    padding: 5px;
}

.editmyaccount form .input select {
    padding: 5px;
}

.editmyaccount form .input .textarea-input {
    width: 98%;
    padding: 5px;
    height: 150px;
}

.editmyaccount form .input .error-message {
    color: red;
}

.editmyaccount form .error .text-input,
.editmyaccount form .error .textarea-input {
    border: 1px solid red;
}

.editmyaccount form .btn-container {
    text-align: center;
}

.editmyaccount form .btn-container [type=submit] {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.profiles .no_profiles {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.profiles .no_profiles a {
    color: #5d5a5a;
    text-decoration: none;
    font-size: 15px;
}

.profiles .no_profiles a {
    text-decoration: underline;
}

.upload-profile-pic-view {
    border: 1px solid #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    width: 100%;
    top: -101%;
    left: 0;
    background-color: #fff;
    z-index: 3;
}

.admin-upload-pic {
    padding: 10px;
    background-color: #fff;
    background-image: url(/img/funky-lines.png);
}

.admin-upload-pic .progress,
.admin-image-crop, .progress {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #5d5a5a;
}

.admin-upload-pic .progress .admin-setup-profile-pic,
.admin-image-crop .progress .admin-setup-profile-pic {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 5px;
    width: 170px;
    background-color: #fff;
}

.admin-upload-pic .progress .admin-crop-profile-pic,
.admin-image-crop .progress .admin-crop-profile-pic {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 5px;
    width: 170px;
    background-color: #fff;
}

.admin-upload-pic .progress .admin-crop-profile-pic,
.admin-image-crop .progress .admin-crop-profile-pic {
    border-right: 1px solid #ccc;
}

.admin-image-crop .progress .complete2 {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    color: #fff;
    padding: 5px;
}

.admin-image-crop, .image {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    height: 300px;
    width: 95%;
}

.admin-image-crop, .image img {
    width: 100%;
}

.admin-upload-pic .btn,
.admin-image-crop .btns {
    text-align: center;
    margin-top: 30px;
}

.admin-upload-pic .btn span,
.admin-image-crop .btns span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: color 1s;
}

.admin-upload-pic .btn span:hover,
.admin-image-crop .btns span:hover {
    color: yellow;
}

.admin-upload-pic .btn span:active,
.admin-image-crop .btns span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.profiles_edit .header .loading {
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 30px;
    line-height: 230px;
    text-align: center;
    display: none;
}

.profiles_edit .header .img {
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 30px;
    display: none;
}

.profiles_edit .header .img img {
    width: 100%;
    height: 100%;
}

.profiles_edit .header .img-btn-1,
.profiles_edit .header .img-btn-2 {
    text-align: center;
    margin-top: 10px;
    display: none;
}

.profiles_edit .header .img-btn-1 span,
.profiles_edit .header .img-btn-2 span {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: color 1s;
}

.profiles_edit .header .img-btn-1 span:hover,
.profiles_edit .header .img-btn-2 span:hover {
    color: yellow;
}

.profiles_edit .header .img-btn-1 span:active,
.profiles_edit .header .img-btn-2 span:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.profiles_edit .form .inputs {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-top: 50px;
}

.profiles_edit .form .inputs .input:first-child label {
    display: block;
    margin-bottom: 2px;
}

.profiles_edit .form .inputs .text-input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 98%;
}

.profiles_edit .form .subscribe {
   width: 230px;
   margin: 0 auto;
   text-align: center;
   position: relative;
   line-height: 15px;
   margin-top: 30px;
}

.profiles_edit .form .subscribe [type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.profiles_edit .form .subscribe label {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 0px 25px;
    top: -1px;
}

.profiles_edit .form .subscribe .check {
    border: 2px solid #5d5a5a;
    padding: 8px;
    width: 0px;
    border-radius: 5px;
    float: left;
    margin-top: -20px;
    position: absolute;
    z-index: 0;
    font-size: 18px;
}

.profiles_edit .form .subscribe [type=checkbox]:checked ~ .check::after {
    content: "✓";
    position: absolute;
    margin-top: -7px;
    margin-left: -6px;
    font-weight: bold;
}

.profiles_edit .btn-container {
    margin-top: 20px;
    text-align: center;
}

.profiles_edit .btn-container [type=submit] {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: color 1s;
}

.profiles_edit .btn-container [type=submit]:hover {
    color: yellow;
}

.profiles_edit .btn-container [type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.changepassword {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-top: 30px;
}

.changepassword form .input {
    margin-bottom: 10px;
}

.changepassword form .input label {
    display: block;
}

.changepassword form .input .password-field {
    border: 1px solid #ccc;
    padding: 5px;
    width: 99%;
}

.changepassword form .btn-container {
    text-align: center;
    margin: 20px 0;
}

.changepassword form .btn-container [type=submit] {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.changepassword form .btn-container [type=submit]:hover {
    color: yellow;
}

.changepassword form .btn-container [type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.changepassword form .error [type=password] {
    border: 2px solid red
}

.changepassword form .error-message {
    color: red;
}

.error_content {
    position: relative;
    top: 38px;
    padding-bottom: 20px;
}

.error_content ._404_content {
    padding: 10px;
}

.error_content ._404_content ._404 {
    border: 1px solid #ff4338;
    background-color: #ff4338;
    padding: 60px;
    border-radius: 100%;
    width: 150px;
    font-size: 90px;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
}

.small-close {
    background-image: url(/img/close.png);
    background-repeat: no-repeat;
    padding: 1px 10px;
    background-size: 16px;
    background-position: 2px 3px;
    cursor: pointer;
}




/*User's Thumbpic*/
.thumbpic {
    border: 2px solid #fff;
    padding: 2px 11px;
    border-radius: 50%;
    background-image: url(/img/users/nopropic.png);
    background-repeat: no-repeat;
    background-size: 22px;
}


.footer-blackscreen {
    border: 1px solid #000;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: none;
}

.pop-announcement {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 99.8%;
    z-index: 21;
    display: none;
}

.pop-announcement .container {
    position: relative;
    top: 18%;
    width: 70%;
    height: 60%;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
}

.pop-announcement .btn {
    text-align: right;
    margin-right: 5px;
    padding: 5px;
}

.pop-announcement .btn img {
    cursor: pointer;
}

.pop-announcement .contents {
    padding: 10px;
    height: 80%;
    overflow-y: auto;
}

.pop-announcement .contents p {
    margin: 10px 0;
}