<?= $this->element('nav/admin_my_account_nav'); ?>
<div class="profiles">
    <?= $this->Flash->render() ?>
    <?php if ($profiles_count): ?>
        dsfdsfds
    <?php else: ?>
        <div class="no_profiles">
            You don't have profiles. <a href="/admin/myaccount/profiles/edit">Create Now</a>.
        </div>
    <?php endif; ?>
</div>