<div class="globalworks">
    
</div>
<div class="settings">
    <div class="registration">
        <h1>Enable User's Registration</h1>
        <ul>
            <li><input type="radio" name="registration" id="reg_on" /><label for="reg_on">On</label></li>
            <li><input type="radio" name="registration" id="reg_on" /><label for="reg_on">Off</label></li>
        </ul>
    </div>
</div>