<?php echo header('Content-Type: text/xml') ?>

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <?php foreach ($jobposts as $post): ?>
        <url>
            <loc><?= $url . '/job/' . $post['id'] ?></loc>
            <changefreq>daily</changefreq>
            <priority>1.0</priority>
        </url>
    <?php endforeach; ?>
</urlset>